.width{
	max-width: 800px;
	margin: 0 auto;
}
h1, h2, h3{
	font-family: sans-serif;
}
table{
	border-collapse: collapse;
}
table, th, td{
	border: 1px solid black;
}
td, th{
	text-align: center;
	padding: 0 0.5rem;
}
footer{
	color: #666;
}
p{
	font-family: sans-serif;
}
